.aktivity {
    padding-top: 50px;
    margin-left: 5%;
    margin-right: 10%;
 
    font-size: 25px;
 
    line-height: 50px;
 }
 .first {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
 }
 .nadpis {
    font-size: 30px;
 }
 .h3{
     margin-top: 20px;
 }